body {
  background: var(--gray-dark);
  color: var(--light);
}

.hero img {
  box-shadow: 0 0 100px #000;
  max-height: 600px;
}

.show-code {
  background: transparent;
  border: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
