body {
  background: var(--gray-dark);
  color: var(--light);
}

.hero img {
  box-shadow: 0 0 100px #000;
  max-height: 600px;
}

.show-code {
  background: transparent;
  border: none;
}

svg {
  overflow: visible;
  margin-top: 160px;
  margin-left: 50%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(340deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(340deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(340deg);
    transform: rotate(340deg);
  }
}
