body {
  background: var(--gray-dark);
  color: var(--light);
}

.hero img {
  box-shadow: 0 0 100px #000;
  max-height: 600px;
}

.show-code {
  opacity: 0;
  transition: all .5s;
  background: transparent;
  border: none;

  &.visible {
    opacity: 1;
  }
}