.heptogram {
  overflow: visible;
  margin-top: 160px;
  margin-left: 50%;

  polyline {
    fill: none;
    stroke-width: 2;

    &.l1 {
      stroke: var(--red);
    }

    &.l2 {
      stroke: var(--yellow);
    }

    &.l3 {
      stroke: var(--cyan);
    }

    &.l4 {
      stroke: var(--blue);
    }

    &.l5 {
      stroke: var(--red);
    }

    &.l6 {
      stroke: var(--yellow);
    }
  }
}

.animated.heptogram polyline {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: spin;

  &.l1 {
    stroke: var(--red);
    animation-duration: random(25) + s;
  }

  &.l2 {
    stroke: var(--yellow);
    animation-duration: random(25) + s;
  }

  &.l3 {
    stroke: var(--cyan);
    animation-duration: random(25) + s;
  }

  &.l4 {
    stroke: var(--blue);
    animation-duration: random(25) + s;
  }

  &.l5 {
    stroke: var(--red);
    animation-duration: random(25) + s;
  }

  &.l6 {
    stroke: var(--yellow);
    animation-duration: random(25) + s;
  }
}
