.polyline {
  .polyline-layer-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .polyline-layer {
    stroke-width: 3;
    fill: none;

    animation-name: spin;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;

    &.layer0 {
      transform: rotate(0deg);
    }
    &.layer2 {
      transform: rotate(22deg);
    }
    &.layer1 {
      transform: rotate(45deg);
    }
    &.layer3 {
      transform: rotate(67deg);
    }
  }

  .btn-toolbar {
    margin-top: 300px;
  }

  polyline.a0 {
    stroke: var(--red);
    animation-duration: 21s;
  }

  polyline.a1 {
    stroke: var(--yellow);
    animation-duration: 22s;
  }

  polyline.a2 {
    stroke: var(--cyan);
    animation-duration: 23s;
  }

  polyline.a3 {
    stroke: var(--blue);
    animation-duration: 24s;
  }

  polyline.b0 {
    stroke: var(--pink);
    animation-duration: 21s;
  }

  polyline.b1 {
    stroke: var(--yellow);
    animation-duration: 22s;
  }

  polyline.b2 {
    stroke: var(--cyan);
    animation-duration: 23s;
  }

  polyline.b3 {
    stroke: var(--indigo);
    animation-duration: 24s;
  }

  polyline.c0 {
    stroke: var(--orange);
    animation-duration: 21s;
  }

  polyline.c1 {
    stroke: var(--teal);
    animation-duration: 22s;
  }

  polyline.c2 {
    stroke: var(--red);
    animation-duration: 23s;
  }

  polyline.c3 {
    stroke: var(--cyan);
    animation-duration: 24s;
  }
}
