.polygon {
  polygon {
    stroke-width: 3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: spin;
  }

  polygon.a0 {
    stroke: var(--red);
    animation-duration: 21s;
  }

  polygon.a1 {
    stroke: var(--yellow);
    animation-duration: 22s;
  }

  polygon.a2 {
    stroke: var(--cyan);
    animation-duration: 23s;
  }

  polygon.a3 {
    stroke: var(--blue);
    animation-duration: 24s;
  }

  polygon.b0 {
    stroke: var(--pink);
    animation-duration: 21s;
  }

  polygon.b1 {
    stroke: var(--yellow);
    animation-duration: 22s;
  }

  polygon.b2 {
    stroke: var(--cyan);
    animation-duration: 23s;
  }

  polygon.b3 {
    stroke: var(--indigo);
    animation-duration: 24s;
  }

  polygon.c0 {
    stroke: var(--orange);
    animation-duration: 21s;
  }

  polygon.c1 {
    stroke: var(--teal);
    animation-duration: 22s;
  }

  polygon.c2 {
    stroke: var(--red);
    animation-duration: 23s;
  }

  polygon.c3 {
    stroke: var(--cyan);
    animation-duration: 24s;
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg) scaleY(1.5);
    }
    to {
      -moz-transform: rotate(359deg) scaleY(1.5);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg) scaleY(1.5);
    }
    to {
      -webkit-transform: rotate(359deg scaleY(1.5));
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg) scaleY(1.5);
    }
    to {
      transform: rotate(359deg) scaleY(1.5);
    }
  }
}
