.star-12 {
  position: relative;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  background: rgba(102,16,242,.25);
  transform: rotate(-20deg);
  
  &:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(102,16,242,.5);
    transform: rotate(-30deg);
  }
  &:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(102,16,242,.5);
    transform: rotate(-60deg);
  }
}