.star-12 {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(102, 16, 242, 0.3);
  transform: rotate(-20deg);
  animation: spin 5s linear infinite;

  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(102, 16, 242, 0.5);
    transform: rotate(-30deg);
  }
  &:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(102, 16, 242, 0.7);
    transform: rotate(-60deg);
  }
}
