.heptagram svg {
  overflow: visible;
  margin-top: 160px;
  margin-left: 50%;

  polyline {
    fill: none;
    stroke-width: 2;

    &.l0 {
      stroke: var(--red);
    }

    &.l1 {
      stroke: var(--yellow);
    }

    &.l2 {
      stroke: var(--cyan);
    }

    &.l3 {
      stroke: var(--blue);
    }

    &.l4 {
      stroke: var(--red);
    }

    &.l5 {
      stroke: var(--yellow);
    }
  }
}

.animated.heptagram polyline {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: spin;
}
