.polyline {
  .polyline-layer-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .polyline-layer {
    fill: none;
    animation-name: spin;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;

    &.opacity4 {
      stroke-opacity: 0.4;
    }
    &.opacity6 {
      stroke-opacity: 0.6;
    }
    &.opacity8 {
      stroke-opacity: 0.8;
    }
    &.opacity1 {
      stroke-opacity: 1;
    }

    &.stroke-width2 {
      stroke-width: 2;
    }
    &.stroke-width4 {
      stroke-width: 4;
    }
    &.stroke-width6 {
      stroke-width: 6;
    }
    &.stroke-width8 {
      stroke-width: 8;
    }
  }

  .plc0 {
    .layer0 {
      transform: rotate(0deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer2 {
      transform: rotate(22deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer1 {
      transform: rotate(45deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer3 {
      transform: rotate(67deg);
      animation-duration: (random(11) + 19) + s;
    }
  }
  .plc1 {
    .layer0 {
      transform: rotate(0deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer2 {
      transform: rotate(22deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer1 {
      transform: rotate(45deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer3 {
      transform: rotate(67deg);
      animation-duration: (random(11) + 19) + s;
    }
  }
  .plc2 {
    .layer0 {
      transform: rotate(0deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer2 {
      transform: rotate(22deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer1 {
      transform: rotate(45deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer3 {
      transform: rotate(67deg);
      animation-duration: (random(11) + 19) + s;
    }
  }
  .plc3 {
    .layer0 {
      transform: rotate(0deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer2 {
      transform: rotate(22deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer1 {
      transform: rotate(45deg);
      animation-duration: (random(11) + 19) + s;
    }
    .layer3 {
      transform: rotate(67deg);
      animation-duration: (random(11) + 19) + s;
    }
  }

  .btn-toolbar {
    margin-top: 300px;
  }

  polyline.a0 {
    stroke: var(--red);
  }

  polyline.a1 {
    stroke: var(--yellow);
  }

  polyline.a2 {
    stroke: var(--cyan);
  }

  polyline.a3 {
    stroke: var(--blue);
  }

  polyline.b0 {
    stroke: var(--pink);
  }

  polyline.b1 {
    stroke: var(--yellow);
  }

  polyline.b2 {
    stroke: var(--cyan);
  }

  polyline.b3 {
    stroke: var(--indigo);
  }

  polyline.c0 {
    stroke: var(--orange);
  }

  polyline.c1 {
    stroke: var(--teal);
  }

  polyline.c2 {
    stroke: var(--red);
  }

  polyline.c3 {
    stroke: var(--cyan);
  }
}

.overlay-circle {
  position: absolute;
  width: 200px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 0px 45px white;
  }
}

.overlay-square {
  position: absolute;
  width: 200px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 0%;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 0px 65px white;
  }
}
