.zoom-buttons {
  .img-container {
    overflow: hidden;
    .img {
      width: 100%;
      transform: translateZ(0) scale3d(1, 1, 1);
      transform-style: preserve-3d;
      transition: transform 0.5s cubic-bezier(0.335, 0.015, 0.46, 0.995),
        -webkit-transform 0.5s cubic-bezier(0.335, 0.015, 0.46, 0.995);
    }
    &:hover {
      img {
        transform: scale3d(1.1, 1.1, 1);
      }

      .img-popover {
        opacity: 1;
      }
    }
  }

  .img-popover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    vertical-align: bottom;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .img-popover span {
    display: block;
    margin: 0;
  }
}
